// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:400,500,600,700|Roboto:400,500,700&display=swap');


// Variables
@import 'variables';



// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Styles
html {
    min-height: 100vh;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #383838;
    min-height: 100vh;
}
h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    letter-spacing: -.8px;
}

h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    letter-spacing: -.8px;
}

h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    letter-spacing: -.8px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 20px;

    &:focus {
        outline: none;
    }
    &::placeholder {
        color: #c5c5c5;
        font-style: italic;
    }
}


footer.app-footer {
    padding: 10px 30px;
    background-color: #1d2124;
    color: #ffffff;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .app-header {
        padding: 5px 30px;
        background-color: #ffffff;
        border-bottom: 1px solid grey;
        display: flex;

        .app-nav {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .nav-item-container {
                display: flex;
                align-items: center;

                .logo-img {
                    max-width: 45px;
                    max-height: 45px;
                    margin-right: 7px;
                }

                .logo-txt, .logo-txt-footer {
                    font-family: 'Oswald', sans-serif;
                    font-size: 1.3rem;
                    letter-spacing: -.8px;
                }

                .logo-txt-footer {
                    color: #ffffff
                }

                .a-img {
                    width: 37px;
                }
            }
        }
    }

    .error-a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: #ff0000;
        color: #ffffff;
        font-size: 1.3rem;
        font-family: 'Oswald', sans-serif;
        align-self: center;
        margin-top: 10px;
        transition-duration: .5s;
        outline: none;
        text-decoration: none;

        &:hover {
            background-color: #A80000;
        }
        &:focus, &:active {
            outline: 0 !important;
        }
    }

    .adds-block {
        width: 100%;
        display: flex;
        align-self: flex-end;
        max-height: 250px;
        min-height: 200px;
    }

    .faq-section {
        padding: 10px 30px 10px 30px;
        width: 70%;
        margin-bottom: 30px;

        .wrap-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            padding: 30px;
        }

        .question-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-top: 20px;

            h4.question {
                font-family: 'Roboto Slab', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: left;
                min-width: 300px;
                max-width: 300px;
                letter-spacing: -.8px;
                margin-bottom: 10px;
            }

            p {
                text-align: justify;
            }

            .li-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    .app-content-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 30px 30px 30px;
        width: 70%;

        .result-container {
            display: flex;
            width: 100%;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .result-img-container {
                width: 100%;
                justify-content: center;
            }
            .result-img {
                width: 100%;
                margin: 10px auto;
                display: block;
            }

            .result-resolution {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 0;
            }
        }

        p {
            font-size: 1.2rem;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .result-description {
            background-color: #ffffff;
            padding: 30px;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 10px;

            p {
                text-align: center;
                font-size: 1.1rem;
                text-align: left;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .links-table {
                border: 1px solid grey;
                width: 100%;
                margin: 0 auto;


                thead {
                    font-weight: bold;
                }

                td {
                    min-width: 200px;
                    border: 1px solid grey;
                    padding: 5px 15px;
                }
            }

            .zip-link-container {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .zip-url, .skip-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                border: none;
                background-color: #ff0000;
                color: #ffffff;
                font-size: 1.3rem;
                font-family: 'Oswald', sans-serif;
                align-self: center;
                margin-top: 10px;
                transition-duration: .5s;
                outline: none;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    background-color: #A80000;
                }
                &:focus, &:active {
                    outline: 0 !important;
                }
            }

            .zip-url {
                background-color: #1e76ee;

                &:hover {
                    background-color: #203fa8;
                }
            }
        }



        .note_title {
            font-weight: bold;
            font-style: italic;
            font-size: 1rem;
        }
        .note_txt {
            font-style: italic;
            font-size: 1rem;
        }

        .input-group-section {
            display: flex;
            flex: 1;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px 30px;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;

                .err-container {
                    display: flex;
                    width: 100%;
                    height: 40px;
                    justify-content: flex-start;
                    align-items: center;

                    .error-txt {
                        margin-top: 5px;
                        color: #ff0000;
                        font-size: 1.1rem;
                        font-style: italic;
                    }
                }

                .submit-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                    border-radius: 5px;
                    border: none;
                    background-color: #ff0000;
                    color: #ffffff;
                    font-size: 1.3rem;
                    font-family: 'Oswald', sans-serif;
                    align-self: center;
                    margin-top: 10px;
                    transition-duration: .5s;
                    outline: none;

                    &:hover {
                        background-color: #A80000;
                    }
                    &:focus, &:active {
                        outline: 0 !important;
                    }
                }
            }

            aside > div {
                min-width: 200px;
                min-width: 300px;
                height: 100%;
                background-color: lightblue;
            }

            .input-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
        }


    }
}

// Mobiles
@import 'mobiles';
