@media screen and (max-width: 1250px) {
    h1 {
        font-size: 2.7rem;
    }

    .app-content-section, .faq-section, .about-section {
        width: 80% !important;
    }

    .posts__container {
        max-width: 90%;
        flex: 0 1 90%;
    }
}


@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.3rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    .app-content-section, .faq-section, .about-section {
        width: 100% !important;
    }

    .notes-div {
        width:  100%;
    }

    .post__article__body_container {
        max-width: 90%;
    }

    .post__article__latest {
        width: 90% !important;
    }

    .posts__container {
        max-width: 90%;
        flex: 0 1 90%;
    }

    .posts__container__post_card {
        flex: 0 1 100%
    }

}


@media screen and (max-width: 767px) {
    .post__h1,
    h1 {
        font-size: 1.4rem;
    }
    .post__header {
       height: 200px;
    }
    h2.additional {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    .app-container .faq-section .question-container h4.question {
        font-size: 1rem;
    }
    .app-container .faq-section .question-container,
    .app-container .about-section .question-container {
        margin-top: 10px;
    }
    p {
        text-align: justify !important;
        margin-bottom: 10px !important;
        line-height: 18px;
    }
    .app-container .app-content-section p {
        font-size: 16px;
    }
    .question-container ul li {
        line-height: 18px;
    }

    div.table-adaptive {
        min-width: 700px;
        overflow-x: auto;
    }

    .result-container {
        p {
            margin-bottom: 20px !important;
            text-align: center !important;
        }

    }

    .notes-div {
        line-height: 18px;
    }

    .app-container .app-header {
        padding: 5px 14px;
    }

    .app-container .app-header .app-nav .nav-item-container .logo-txt {
        font-size: 1rem;
    }

    .posts,
    .app-container .faq-section .wrap-container,
    .post__article__latest__post_card__body,
    .app-container .about-section .wrap-container {
        padding: 14px !important;
    }
    .posts__container__post_card__body {
        padding: 10px 0 0 0 !important;
    }
    .post__article__latest {
        margin-top: 20px;
    }

    .post__article__body_container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .posts__container {
        margin-top: 0 !important;
    }
    .app-container .about-section,
    .app-container .faq-section,
    .app-container .app-content-section {
        padding: 14px !important;
    }
    .app-container .app-content-section {
        margin-top: 14px !important;
        padding-top: 24px !important;
    }

    .input-group-section {
        padding: 30px 0px !important;
    }
    .app-container .app-content-section .input-group-section form .submit-btn {
        font-size: 1.1rem !important;
    }
    .result-description {

        p {
            text-align: justify !important;
        }
    }

    .faq-section .wrap_container,
    .about-section .wrap_container {
        padding: 16px !important;
    }

    .question-container {
        flex-wrap: wrap;
    }

    .post__article__body_container {
        max-width: 95%;
    }

    .post__article__latest {
        width: 95% !important;
    }

    .posts__container {
        max-width: 100%;
        flex: 0 1 96%;
    }
}
