@media screen and (max-width: 1250px) {
    h1 {
        font-size: 2.7rem;
    }

    .app-content-section, .faq-section {
        width: 80% !important;
    }

    .posts__container {
        max-width: 90%;
        flex: 0 1 90%;
    }
}


@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.3rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    .app-content-section, .faq-section {
        width: 100% !important;
    }

    .notes-div {
        width:  100%;
    }

    .post__article__body_container {
        max-width: 85%;
    }

    .posts__container {
        max-width: 90%;
        flex: 0 1 90%;
    }

    .posts__container__post_card {
        flex: 0 1 100%
    }

}


@media screen and (max-width: 767px) {
    p {
        text-align: justify !important;
        margin-bottom: 20px !important;
    }

    div.table-adaptive {
        min-width: 700px;
        overflow-x: auto;
    }

    .result-container {
        p {
            margin-bottom: 20px !important;
            text-align: center !important;
        }

    }

    .input-group-section {
        padding: 30px 0px !important;
    }

    .result-description {

        p {
            text-align: justify !important;
        }
    }

    .question-container {
        flex-wrap: wrap;
    }

    .post__article__body_container {
        max-width: 95%;
    }

    .posts__container {
        max-width: 100%;
        flex: 0 1 96%;
    }
}
